.a{
    text-align: center;
    background-color: antiquewhite;
    color: brown;
    font-size: larger;
}
.b{
    text-align: center;
    color: rgb(18, 26, 36);
    background-color: bisque;

}
.c{text-align: center;
color:lightcoral ;
background-color: rgb(16, 221, 211)
;}